$green: #019160;
$hdark: #e5e5e5;
@use '../base/baseColor.scss' as color;
.content {
    height: calc(100vh - 48px);
    width: 100%;
    padding: 0 20px;
    background-color: #f4f5f8;
    /*------------------ Content top ------------------*/
    &__top {
        padding: 22px 0 16px 0;
        .first-line {
            height: 36px;
            width: 100%;
            justify-content: space-between;
        }
        .second-line {
            color: color.$blue;
            cursor: pointer;
        }
        &-header {
            font-size: 24px;
        }
        .btn {
            font-size: 13px;
            height: 36px;
            padding: 10px 14px;
        }
        .btn-add {
            background-color: color.$main;
            color: white;
            border-radius: 30px;
            font-weight: 600;
        }
    }
    /*------------------ Content middle ------------------*/
    /*------------------ Content main ------------------*/
    &__main {
        height: calc(100vh - 186px);
        display: flex;
        flex-direction: column;
        overflow: auto;
        position: relative;
        padding: 16px 30px 0 16px;
        background-color: #fff;
        // search-box
        .content-search-box {
            margin-bottom: 20px;
            width: 240px;
        }
        // Hành động xóa, nhân bản, ngừng sử dụng
        .user-action {
            justify-content: center;
            position: relative;
            > p {
                color: color.$blue;
                font-weight: 700;
                cursor: pointer;
                margin: 0 4px;
            }
            .icon-swapper {
                width: auto;
                cursor: pointer;
                padding: 8px 10px;
                .svg-icon {
                    margin: 0 auto;
                }
            }
        }
        .main-table {
            height: calc(100vh - 218px);
            overflow: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        thead {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            background-color: #eceef1;
        }

        td {
            border-bottom: 1px solid color.$t-bd-color;
            border-right: 1px dotted color.$t-bd-color;
            padding: 5px 10px;
            height: 47px;
        }

        tr td:last-child {
            border-right: none;
        }

        thead th {
            border-bottom: 1px solid color.$t-bd-color;
            border-right: 1px solid color.$t-bd-color;
            padding: 5px 10px;
            height: 45px;
            background-color: #eceef1;
        }

        thead th:last-child {
            border-right: none;
        }

        tr:hover {
            cursor: pointer;
            background-color: #e5e5e5;
        }

        .fixed-header th {
            // height: 42px;
            position: sticky;
            position: -webkit-sticky;
            top: -1px;
            border-bottom: 1px solid color.$t-bd-color;
            border-right: 1px solid color.$t-bd-color;
            padding: 5px 10px;
            z-index: 1;
        }

        tr:last-child {
            position: sticky;
            position: -webkit-sticky;
            right: 0;
        }
    }
    /*------------------ Content bottom ------------------*/
    &__bottom {
        min-height: 46px;
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 0 16px;
        .text-left {
            margin-right: auto;
        }
        .text-right {
            // flex: 0.8;
            // text-align: right;
            .number-perpage {
                border: 1px solid color.$base-bd-color;
                height: 32px;
                margin: 0 16px;
                .input-number {
                    padding: 6px 0 6px 12px;
                    flex: 1;
                }
                .more-option {
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                .more-option:hover {
                    background-color: #e0e0e0;
                }
            }
            .pagination {
                .pre {
                    margin-right: 16px;
                }
                .page-number {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    border: 1px solid #e0e0e0;
                    text-align: center;
                    margin-right: 8px;
                }
                .next {
                    margin-left: 8px;
                }
            }
        }
    }
}

// CSS cho thêm menu xóa người dùng

.last-col {
    overflow: visible !important;
}
.data-more-action {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid color.$base-bd-color;
    background-color: #fff;
    border-radius: 2px;
    z-index: 2;
    .action-list {
        height: 30px;
        padding: 5px 10px;
        cursor: pointer;
    }
    .action-list:hover {
        color: color.$text-green-color;
        background-color: color.$bg-action-hover;
    }
}
