@use '../base/baseColor.scss' as color;
.employee-popup {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    align-items: center;
    justify-content: center;
    /*-------- Popup CSS Main--------*/
    .popup__content {
        background-color: #fff;
        overflow: hidden;
        width: 900px;
        height: 625px;
        /*-------- Header--------*/
        &-header {
            height: 76px;
            .header-right {
                height: 100%;
                padding: 20px 12px 20px 32px;
                width: 822px;
                .header-title {
                    font-size: 24px;
                    font-weight: 600;
                }
                /*-------- CSS for Checkbox --------*/
                .type-choose {
                    // css for checkbox
                    input[type='checkbox'] {
                        display: none;
                        visibility: none;
                    }
                    span.square {
                        width: 18px;
                        height: 18px;
                        border: 1px solid #afafaf;
                        border-radius: 2px;
                        display: inline-block;
                        margin-right: 10px;
                        position: relative;
                    }
                    label {
                        padding: 0 20px;
                        display: flex;
                        align-items: center;
                    }
                    input[type='checkbox']:checked+.square {
                        border-color: #2ca01c;
                    }
                    input[type='checkbox']:checked+.square:after {
                        content: '';
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        background-image: url(/img/Sprites.64af8f61.64af8f61.svg);
                        background-repeat: no-repeat;
                        background-position: -1224px -360px;
                    }
                }
            }
            .header-left {
                flex: 1;
                height: 100%;
                padding: 12px;
                justify-content: space-between;
                >div {
                    cursor: pointer;
                }
            }
        }
        .popup__content-down {
            padding: 0 32px 20px 32px;
        }
        &-input {
            padding-bottom: 12px;
            input[type='text'],
            input[type='date'] {
                height: 32px;
                padding: 6px 10px;
                border: 1px solid color.$base-bd-color;
                outline: none;
                width: 100%;
                font-size: 13px;
                border-radius: 2px;
            }
            input[type='text']:focus {
                border-color: color.$main;
            }
            input[type='date'] {
                padding-right: 0;
            }
            .input-swapper {
                padding-bottom: 12px;
                font-size: 12px;
                .input-label {
                    font-size: 12px;
                    font-weight: 700;
                    padding-bottom: 4px;
                    white-space: nowrap;
                    >span {
                        color: red;
                        font-size: 12px;
                    }
                }
            }
            // Input Top
            .top {
                .input-section-left {
                    padding-right: 26px;
                }
                .input-section {
                    flex: 1;
                    .c-grid-col {
                        div:first-child {
                            padding-right: 6px;
                        }
                    }
                }
                // format gender input
                .gender-swapper {
                    .input-label {
                        padding-left: 10px;
                    }
                    .gender {
                        padding: 5px 0 6px 10px;
                        height: 32px;
                    }
                    label {
                        display: flex;
                        align-items: center;
                        margin-right: 20px;
                        cursor: pointer;
                    }
                    input[type='radio'] {
                        display: none;
                    }
                    .circle {
                        width: 18px;
                        height: 18px;
                        border: 1px solid #bbb;
                        display: inline-block;
                        border-radius: 50%;
                        position: relative;
                        margin-right: 10px;
                    }
                    input:checked+.circle {
                        border-color: #2ca01c;
                    }
                    input:checked+.circle::after {
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #2ca01c;
                        position: absolute;
                        right: 50%;
                        top: 50%;
                        transform: translate(50%, -50%);
                    }
                }
                // format chọn đơn vị
                .input-suggest {
                    position: relative;
                    input[type="text"] {
                        padding-right: 32px;
                    }
                    .show-more {
                        width: 32px;
                        height: 30px;
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                    .show-more:hover {
                        background-color: #e0e0e0;
                        border: 1px solid #e0e0e0;
                    }
                    .input-suggest-data {
                        position: absolute;
                        top: calc(100% + 2px);
                        border: 1px solid #babec5;
                        background-color: white;
                        z-index: 5;
                        border-radius: 2px;
                        width: 100%;
                        max-height: 160px;
                        .data-list {
                            height: 32px;
                            cursor: pointer;
                            padding: 0 10px;
                            line-height: 32px;
                        }
                        .data-list:hover {
                            color: color.$text-green-color;
                            background-color: #ebedf0;
                        }
                    }
                }
            }
            // Input bottom
            .bottom {
                .c-grid-col {
                    >div {
                        padding-right: 6px;
                    }
                }
                .tab-input {
                    &__title {
                        display: flex;
                        height: 32px;
                        .title-list {
                            position: relative;
                            bottom: -7px;
                            padding: 0 8px;
                            height: 26px;
                            cursor: pointer;
                            border: 1px solid color.$base-bd-color;
                            margin: 0 1px;
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                            line-height: 24px;
                            border-bottom: none;
                        }
                        .title-list:first-child {
                            margin-left: 0;
                        }
                        .title-list:hover {
                            color: color.$main;
                        }
                        .title-list.active {
                            background-color: #cce4f9;
                            height: 100%;
                            bottom: -1px;
                            line-height: 32px;
                            border-bottom: none;
                        }
                    }
                    &__content {
                        border: 1px solid color.$base-bd-color;
                        padding: 12px 10px 0 10px;
                        height: 194px;
                    }
                }
            }
        }
        // Thanh ngăn
        .divider {
            border-top: 1px solid color.$base-bd-color;
            margin: 30px 0 20px 0;
        }
        // Nút ấn dưới cùng
        &-btn {
            .btn {
                padding: 8px 20px;
                height: 36px;
                border-radius: 4px;
                font-weight: 600;
            }
            .btn-left {
                margin-right: auto;
            }
            .save-btn,
            .cancel-btn {
                border: 1px solid #8d9096;
            }
            .save-btn {
                margin-right: 10px;
            }
            .add-save-btn {
                background-color: color.$main;
                color: white;
            }
            .add-save-btn:hover {
                background-color: #35bf22;
            }
            .cancel-btn:hover,
            .save-btn:hover {
                background-color: #d2d3d6;
            }
        }
    }
    /*-------- Select tag CSS --------*/
    #customerType {
        width: 100%;
        height: 40px;
        border: 1px solid #bbb;
        border-radius: 5px;
        padding-left: 20px;
    }
    label {
        display: flex;
        align-items: center;
    }
    .circle {
        width: 20px;
        height: 20px;
        border: 1px solid #bbb;
        display: inline-block;
        border-radius: 50%;
        position: relative;
    }
    input:checked+.circle {
        border-color: #019160;
    }
    input:checked+.circle::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #019160;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }
    .input-swaper {
        position: relative;
    }
}

.active {
    display: flex;
}

// grid for displaying input in two colume
.c-grid-col {
    display: flex;
    .v-col-4 {
        width: 40%;
    }
    .v-col-6 {
        width: 60%;
    }
    .v-col-1-4 {
        width: 25%;
    }
}

// Customer Calender
.cs-calender {
    &-input {
        position: relative;
    }
    .calender-icon {
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: #fff;
        cursor: pointer;
    }
}