.header {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        height: 100%;
        .header__toogle-btn {
            margin: 0 10px;
        }

        .header__company {
            height: 100%;
            cursor: pointer;

            .company-name {
                font-weight: bold;
            }

            .svg-icon {
                margin: 0 10px;
            }
        }
    }

    &__right {
        height: 40px;
        margin: auto 0;
        display: flex;
        align-items: center;

        .header__function {
            height: 100%;

            .icon-swaper {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;

                .svg-icon {
                    background-color: #757575;
                }
            }

            .icon-swaper:hover {
                background-color: #000;
                fill: red;
            }

            .icon-swaper:first-child:hover {
                background-color: #2ca01c;
            }

            .icon-swaper:first-child:hover::after {
                border-top-color: #2ca01c;
            }

            .icon-swaper:hover .svg-icon {
                background-color: #fff;
            }

            .icon-swaper:hover:after {
                content: '';
                width: 0;
                height: 0;
                border-bottom: 8px solid transparent;
                border-left: 22px solid transparent;
                border-right: 22px solid transparent;
                border-top: 8px solid #000;
                position: absolute;
                bottom: -16px;
                left: 0;
            }

            .svg-icon {
                margin: auto 10px;
            }
        }

        .header__user {
            padding: 0 16px;
            cursor: pointer;
        }

        .user-avt {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid #e5e5e5;
        }

        .user-name {
            text-align: center;
            flex: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0 6px;
            font-weight: 600;
        }

        .user-action {
            $kt: 40px;
            width: $kt;
            height: $kt;
            line-height: $kt;
            text-align: center;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }
}
