.sidebar {
    width: 180px;
    height: 100vh;
    background-color: #393a3d;
    border-right: 1px solid #e5e5e5;
    color: #fff;
    float: left;
    font-size: 13px;
    overflow: auto;

    /*--------------- sidebar top ---------------*/

    &__top {
        height: 48px;
        // padding: 24px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .more-app {
            mask-position: -424px -86px;
            margin-right: 10px;
            background-color: #fff;
        }
        img {
            height: 32px;
        }
    }

    /*--------------- sidebar main ---------------*/

    &__main {
        $height: 42px;
        padding-top: 14px;

        &-list {
            height: $height;
            line-height: $height;
            width: 100%;
            border-left: 6px solid transparent;
            padding-left: 8px;
            color: rgba(0, 0, 0, 0.8);
            font-size: 13px;
            cursor: pointer;
            display: flex;
            color: #fff;
            align-items: center;
            position: relative;

            &-img {
                width: 24px;
                line-height: 24px;
                margin-right: 8px;
            }
        }

        &-list.active {
            border-left-color: #2ca01c;
            font-weight: 700;
        }

        &-list.active .svg-icon {
            border-left-color: #2ca01c;
            font-weight: 700;
            background-color: #fff;
        }

        &-list.active::before {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            background: #fff;
            opacity: 0.2;
            position: absolute;
        }

        &-list:hover::before {
            content: '';
            background: #fff;
            opacity: 0.2;
            width: calc(100% + 6px);
            // width: 50px;
            height: 42px;
            left: -6px;
            top: 0;
            position: absolute;
        }
    }
}
