/*
 * Base color for project 
*/

// green color
$main: #2ca01c;
$text-green-color: #08bf1e;
// border haft dark
$border-hdark: #e5e5e5;
// border input color and table border
$border-input: #bbb;
// blue color
$blue: #0075c0;
// border-table-color
$t-bd-color: #c7c7c7;
// base border color
$base-bd-color: #babec5;
// Background-color of table
$bg-color: #f4f5f8;
$bg-action-hover: #e8e9ec;
$row-selected: #f8f8f8;
$row-hover: #f3f8f8;