/*
 * Base color for project 
*/

// main color
$main: #2ca01c;
// border haft dark
$border-hdark: #e5e5e5;
// border input color and table border
$border-input: #bbb;

// blue color

$blue: #0075c0;
