/*-------- Reset CSS --------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

select,
input {
    outline: none;
    border: none;
}

html,
body {
    font-family: GoogleSan;
}

a,
a:visited,
a:link {
    text-decoration: none;
    color: black;
}


/*-------- Format Scroll bar --------*/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}