@use './base/baseColor' as color;
@import './base/reset.scss';
@import './base/btn.scss';
@import './base/svgIcon.scss';

/*-------- Table format --------*/


/*-------- Font Import --------*/

@font-face {
    font-family: 'Open Sans local';
    font-style: normal;
    src: url('./assets/font/notosans-regular.2cb88a13.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans local';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./assets/font/notosans-bold.3ede5aff.woff2') format('woff2');
}

/*-------- CSS for page layout --------*/

.right-swapper {
    float: left;
    width: calc(100% - 180px);
}

/*-------- CSS text-align --------*/

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

/*-------- display CSS --------*/

.d-flex {
    display: flex;
}

.d-center-flex {
    display: flex;
    align-items: center;
}

.d-block {
    display: block;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

/*-------- Input CSS --------*/

.input {
    border: 1px solid color.$border-input;
    border-radius: 4px;
    margin-right: 20px;
    padding: 0 10px;
    height: 40px;
}

.input:focus {
    border-color: color.$main;
}

.input.error:focus {
    border-color: #ff4747;
}

/*-------- Search Box CSS --------*/

.search-box {
    height: 32px;
    margin-right: 20px;
    width: 200px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 2px;
    .search-icon {
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input::placeholder {
        font-style: italic;
        font-size: 12px;
    }
    input {
        height: 100%;
        width: 100%;
        border: 1px solid #ebedf0;
        padding: 6px 10px;
        padding-right: 30px;
    }
}

input:focus {
    border-color: color.$main;
}
