@use '../../base/base-color.scss' as color;
.combobox {
    position: relative;
    display: flex;
    border-radius: 4px;
    align-items: center;
    input {
        height: 100%;
        display: block;
        width: calc(100% - 40px);
        font-size: 16px;
        user-select: none;
        cursor: pointer;
    }
    input:focus {
        border-color: #01b075;
    }
    input+div {
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        overflow: hidden;
        // z-index: 1;
        // transition: transform 0.2s ease-in-out;
    }
    input+div:focus {
        outline: none;
    }
    &-list {
        position: absolute;
        background-color: #fff;
        border: 1px solid #bbb;
        min-width: 100%;
        max-width: 120%;
        border-radius: 4px;
        top: 45px;
        right: 0;
        display: none;
        visibility: hidden;
        max-height: 160px;
        overflow: auto;
        &-items {
            height: 40px;
            cursor: pointer;
            line-height: 40px;
            padding: 0 24px;
            display: flex;
            overflow: hidden;
            span:first-child {
                flex: 1;
            }
            span:first-child+span {
                color: color.$main;
            }
        }
        &-items:hover {
            background-color: #bbb;
        }
        &-items:focus {
            background-color: #bbb;
            outline: none;
            border: none;
        }
    }
    &-list.active {
        display: block;
        visibility: visible;
        z-index: 1;
    }
}